<div class="container">
  <div class="top-margin">
    <div class="page-header">
      <%= link_to dishes_path, class: 'btn btn-warning' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
      <h1 class="center-text">New dish</h1>
    </div>

    <%= render 'form' %>
 </div>
</div>